
footer{
    text-align: center;
    background-color: #525252;
    
    font-family: 'Poppins', sans-serif;
    color: #E0A801;
    font-size: 18px;
}
footer a:hover {
    color: #fff;
}

footer ul.social-networks {
	list-style:none;
}

footer ul.social-networks li {
	display:inline;
}

footer ul.social-networks li i {
	display:inline-block;
}

footer ul.social-networks li a {
	color: #5e5e5e;
	margin: 0 5px;
}

footer ul.social-networks li a:hover {
	text-decoration:none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

footer ul.social-networks li i.icon-bgdark {
	background:#414141;
	color: #656565;
}


footer ul.social-networks li a i.icon-instagram:hover {
	background: #5e2129;
	color: white;
}

footer ul.social-networks li a i.icon-instagram:hover {
	background: #5e2129;
	color:white;
}

footer ul.social-networks li a i.icon-twitter:hover {
	background: #5e2129;
	color: white;
}
footer ul.social-networks li a i.icon-facebook:hover {
	color: white;
	background: #5e2129;
}
footer ul.social-networks li a i.icon-pinterest:hover {
	background: #5e2129;
	color: #fff;
}

i.icon-circled {
	display: inline-block;
	border-radius: 1000px !important;
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
	text-align: center;
	width: 24px !important;
	height: 24px !important;
	line-height: 24px !important;
	
}

.icon-circled.icon-2x{
	width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
}
.icon-circled.icon-3x{
	width: 72px !important;
	height: 72px !important;
	line-height: 72px !important;
}
.icon-circled.icon-4x{
	width: 96px !important;
	height: 96px !important;
	line-height: 96px !important;
}
.icon-circled.icon-5x{
	width: 120px !important;
	height: 120px !important;
	line-height: 120px !important;
}