<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l12">
                    <div class="span6 offset3">
                            <ul class="social-networks">
                                <li><a id="Instagram" href=""><i class="fab fa-instagram icon-circled icon-bgdark icon-instagram icon-2x" style="font-size: 30px"></i></a></li>
                                <li><a id="Twitter" href=""><i class="fab fa-twitter icon-circled icon-bgdark icon-twitter icon-2x"style="font-size: 30px"></i></a></li>
                                <li><a id="Facebook" href=""><i class="fab fa-facebook-f icon-circled icon-bgdark icon-facebook icon-2x"style="font-size: 30px"></i></a></li>
                            </ul>
                            
                                
                                </div>
            </div>
          </div>
          <div class="row">
            <div class="col l4">
                <h5>Contactanos</h5>
                <i class="fas fa-phone"></i>     0424-5686466
            </div>
            <div class="col l4">
                <h5>Escribenos</h5>
                <i class="fas fa-envelope"></i>     EOSTeam@gmail.com
                </div>
                <div class="col l4">
                    <h5>Vistanos</h5>
                    <i class="fas fa-map-marker-alt"></i> Av. Florencio Jimenez, Barquisimeto, Estado Lara, Venezuela
                    </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center">
              <div class="row">
                  <div class="col l6">
                <a class="center" style="color: #E0A801">&copy; EOS. Todos los derechos reservados.</a>
            </div>
            <div class="col l6">
          <a style="color: #E0A801;">Desarrollado por Team EOS</a>
        </div>
        </div>
          </div>
        </div>
      </footer>