
<h2 class="class container center" style="margin-top: 100px;">¿Por que suscribirte?</h2 >


<div class="container" style="margin-top: 100px;" >
<div class="row">

  <div class="col s4">
    <div class="center promo promo-example">
      <ul class="Beneficios">
      <i class="far fa-calendar-alt " style="font-size: 150px; color: #5e2129"></i>
    </ul>
    <p>Agenda tu cita con nuestros abogados</p>
    </div>
  </div>
  <div class="col s4">
      <div class="center promo promo-example">
          <ul class="Beneficios">
          <i class="fas fa-globe " style="font-size: 150px; color: #5e2129"></i>
          </ul>
        <p>Mantente informado sobre tu caso desde donde estés</p>
        </div>
  </div>
  <div class="col s4">
      <div class="center promo promo-example">
          <ul class="Beneficios">
          <i class="fas fa-comments" style="font-size: 150px; color: #5e2129"></i>
          </ul>
        <p>Obten una linea directa de comunicación con tu abogado</p>
        </div>


      <i class=""></i>
  </div>

</div>
</div>

<div class="container2 center" >


<div class="class container " style="margin-top: 50px; padding: 40px">
    <h3 style="margin-top: 50px">Suscribete siguiendo 3 simples pasos </h3>
  <mat-horizontal-stepper [linear]="!isLinear" #stepper style="padding: 40px" class="z-depth-4">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="formSubscribirse">
        <div class="row">
          <div class="col m3">
        <ng-template matStepLabel>Introduce tus datos filiatorios</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="nombre" required>
        </mat-form-field>
      </div>
      <div class="col m3">
        <ng-template matStepLabel>Introduce tu Apellido</ng-template>
        <mat-form-field>
            <input matInput placeholder="Apellido" formControlName="apellido" required>
          </mat-form-field>
        </div>
        <div class="col m3">
            
            <ng-template matStepLabel>Sexo</ng-template>
            <mat-form-field>
            <mat-select [(value)]="opcion" formControlName="sexo" placeholder="Elige una opcion">
                
                    
                    <mat-option value="Mujer">Mujer</mat-option>
                    <mat-option value="Hombre">Hombre</mat-option>
                
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m3">
            <mat-form-field>
                <ng-template matStepLabel>Elige tu fecha de Nacimiento</ng-template>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>
       
      </div>
      <div>
          <button mat-button matStepperNext class="boton">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="formSubscribirse">
        <div class="row">
          <div class="col m6">
              <ng-template matStepLabel>Introduce tus datos de contacto</ng-template>
              <mat-form-field>
                <input matInput placeholder="Telefono" formControlName=telefono required>
              </mat-form-field>
          </div>
        
        <div class="col m6">
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="correo" required>
        </mat-form-field>
      </div>
    </div>
        <div class="row">
          <div class="col m6">
          <button mat-button matStepperPrevious class="boton">Regresar</button>
        </div>
        <div class="col m6">
          <button mat-button matStepperNext class="boton" (click)="onSubscribe()">Siguiente</button>
        </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Listo!</ng-template>
      <p class="center"> Ahora estas suscrito a nuestro sistema. Verifica tu correo y sigue las instrucciones.</p>
      <div>
        
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
</div>