<section>
                
        <div class="container" style="margin-top:80px">
        <h1>Sobre Nosotros</h1>
        <h4>Todo lo que necesita saber sobre nuestra compañía</h4>
        </div>
        
    
</section>
<section>

    <div class="row">

      <div class="col m4">
        <h2 class="header">Misión</h2>
                <div class="card darken-1">
                    <div class="card-content">
                    <p>Brindar confianza a cada cliente a través de la defensa y la asesoría dedicada y transparente. 
                        Asumir cada caso como 
                        propio, con respeto y humanidad; cerrarlo como el más grande de los logros.</p>
                    </div>
                </div>
                
            
      </div>
      <div class="col m4">
          <h2 class="header">Visión</h2>
            
                
                <div class="card darken-1">
                    <div class="card-content">
                    <p>Ser una Firma líder en la prestación de servicios legales, que pase de
                         generación a generación conforme a criterios de excelencia profesional y
                          académica, cuyos miembros hagan importantes aportes al desarrollo de la doctrina y 
                          jurisprudencia tanto nacional como internacional, mientras prestan sus servicios legales 
                          siguiendo los más altos estándares internacionales, en el desarrollo con sus clientes de relaciones 
                        confiables de largo plazo fundamentadas en valores éticos.</p>
                    </div>
                
                
            </div>
      </div>
      <div class="col m4">
          <h2 class="header">Objetivos</h2>
            
                
                <div class="card darken-1">
                    <div class="card-content ">
                    <p>Ofrecer respuesta oportuna y eficaz a nuestros clientes, y brindar soluciones integrales 
                        que garantizan su bienestar personal y patrimonial, permitiéndoles tener la tranquilidad y 
                        la seguridad jurídica que necesitan para hacer frente a su día a día.
                            Ofrecer a nuestros clientes un óptimo servicio, con seriedad y responsabilidad.
                            Conformar un equipo de trabajo, con los profesionales más competentes, actualizados y responsables.</p>
                    </div>
                </div>
                
            
      </div>

    </div>
          
</section>
