<div class="container center" style="margin-top: 100px; ">
    <h3>Ofertas recientes</h3>
    <div class="class row" style="margin-top: 60px">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img  height="220px" class="activator" src="../../assets/img/tramites.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Documentos<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Redacción de documentos<i class="material-icons right">close</i></span>
                    <p>Tenemos para ti una promoción de la redacción de dos docuemntos por el precio de uno</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img height="220px" class="activator" src="../../assets/img/civil.jpeg">
                    </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Consorcio<i class="material-icons right">more_vert</i></span>
                
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Consorcio<i class="material-icons right">close</i></span>
                    <p> Contratos de Consorcio de Obra con un 10% de descuento solo por este mes </p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img height="220px" class="activator" src="../../assets/img/docmercantiles.jpeg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Herencia Mercantil<i class="material-icons right">more_vert</i></span>
            
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Herencia Mercantil<i class="material-icons right">close</i></span>
                    <p> Continuidad de Herederos Firma Personal 25% de Descuentos </p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container center" style="margin-top: 100px; ">
    <h3>Encuentra la promocíon que necesitas!</h3>

    <form [formGroup]="serviciosForm" class="search-form">
        <mat-form-field style="width: 70%;">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput placeholder="Busca tu servicio" formControlName="serviciosGroup" [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let group of serviciosGroupOptions | async" [label]="group.letter">
                <mat-option *ngFor="let name of group.names" [value]="name">
                    {{name}}
                </mat-option>
            </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    
</div>
<div class="container center" style="margin-top: 50px; ">
    
    <div class="class row" style="margin-top: 60px">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img  height="220px" class="activator" src="../../assets/img/tramites.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Divocios 2 por 1<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nos encargamos de todo<i class="material-icons right">close</i></span>
                    <p>Tenemos para ti una promoción de lujo, rápida y segura. Resguarda tus intereses con nosotros y termina con el dolor de cabeza. </p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img height="220px" class="activator" src="../../assets/img/civil.jpeg">
                    </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Registro Mercantil<i class="material-icons right">more_vert</i></span>
                
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Para jovenes de 50 a 60 años!<i class="material-icons right">close</i></span>
                    <p>Si cuentas con la edad, estaremos apoyandote con la mejor asesoria. Un descuanto del <b>50%</b></p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img height="220px" class="activator" src="../../assets/img/docmercantiles.jpeg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Traspasa lo que quieras<i class="material-icons right">more_vert</i></span>
            
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Traspasos<i class="material-icons right">close</i></span>
                    <p> Vende tu casa, carro lo que quieras de manera sencilla, nos aseguramos del proceso legal y recibe tu dinero rápido. Contactanos! </p>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container center">
    <h4 class="col m4 l4">¿Desea obtener mayor información?</h4>
    <h4 class="col m4 l4"><a href="#" >Suscríbete ahora!</a></h4>
</div>