<div class="fixed-action-btn">
  <a href="#form" class="waves-effect modal-trigger waves-light btn  grey darken-2">Envíanos un mensaje <i class="fas fa-headset"></i></a>

  <div class="modal" id="form">
      <div class="container">
          <br>
          <br>
          <br>
        <form class="example-form">
           <mat-form-field class="example-full-width">
            
            <mat-label>Tipo de mensaje</mat-label>
            <mat-select>
              <mat-option >Reclamo</mat-option>
              <mat-option >Sugerencia</mat-option>
              <mat-option >Ayuda</mat-option>
              
            </mat-select>
          </mat-form-field>
        </form>
        
          <br>
          <br>
          <br>
        
        <form class="example-form2">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo electrónico" value="">
          </mat-form-field>
          <br>
          <br>
          <br>
          
        </form>

        <form class="example-form3">

            <mat-form-field class="example-full-width">
              <input matInput #message maxlength="256" placeholder="Escriba aquí su mensaje">
              <mat-hint align="start"><strong></strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <br>
          </form>
          <br>
          <div class="row center">
          <button class="btn color waves-effect" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>


          <br>
          <br>
          <br>
        
        </div>
      
  </div>   
</div>


