<div class="body"></div>		
		<br>
			
	<div class="login" style="text-align: center">
				
	<img src="../../assets/Logo.png" width="250" height="200" style="margin-bottom: 20px">
			
		<input type="text" placeholder="Correo" name="user" >
				
        <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			
				<input type="button" value="ENTRAR">
			
		<div class="foot-lnk"> <br> <br> <br>

		   <a href="#forgot"> ¿Olvidó su Contraseña? </a>
		</div>	
	</div>

              
          