@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: 'Poppins';
    font-size: 12px;
    
}

body ::-webkit-scrollbar {

	overflow-x: hidden;
	overflow-y: hidden
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://destinonegocio.com/wp-content/uploads/2016/01/ico-destinonegocio-abogados-en-linea-istock-getty-images.jpg);
	-webkit-filter: blur(5px);
    z-index: 0;
    
}

img {
	position: absolute;
	top: calc(0.008% - 75px);
	left: calc(40% - 50px);

}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}



.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(40% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	
}



.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #f4f4f4;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #f4f4f4;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #5e2129;
	border: 1px solid #5e2129;
	cursor: pointer;
	border-radius: 2px;
	color: #f4f4f4;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

a:-webkit-any-link {
    color: #e0a801;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
    text-decoration: #e0a801;
    text-decoration-line: underline;
    text-decoration-style: initial;
	text-decoration-color: #e0a801;
}

.example-container {
	display: flex;
	flex-direction: column;
  }
  
  .example-container > * {
	width: 100%;
  }
  
  .example-right-align {
	text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
	display: none;
  }
  
  input.example-right-align {
	-moz-appearance: textfield;
  }