<section class="container" style="margin-top:90px">
    <div class="page-header">
        <h1>Nuestro equipo de expertos<br>
            <small>Obtén la mejor asesoría y el mejor resultado</small></h1>
    </div>
    <div class="row active-with-click">
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Safra Catz</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Tributario
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/safraCatz.jpg">
                    </div>
                    <div class="mc-description">
                        <p>Safra A. Catz Ha sido asesora tributario en Oracle Corporation desde abril de 1999 y miembro de la junta desde 2001. En abril de 2011 fue nombrada copresidenta y directora financiera, 
                    </p></div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Ruth Porat</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Laboral
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/ruthPorat.jpg">
                    </div>
                    <div class="mc-description">
                        Ruth Porat es una ejecutiva financiera estadounidense, que actualmente se desempeña como directora y asesoría jurídica financiera de Alphabet Inc. y su filial Google
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Elon Musk</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Civil
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/elonMusk.jpg">
                    </div>
                    <div class="mc-description">
                        Elon Reeve Musk es un físico, inversor y magnate sudafricano con nacionalidad canadiense y estadounidense. Cofundador de PayPal, Y asesor jurídico en Tesla Motors, SpaceX, Hyperloop, SolarCity, The Boring Company y OpenAI. Es director general de SpaceX, de Tesla Motors, presidente de SolarCity y copresidente de OpenAI.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Jeff Bezos</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Corporativa
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/jeffBezos.jpg">
                    </div>
                    <div class="mc-description">
                         Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain. 
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Marissa Mayer</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Procesal
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/marissaMayer.jpg">
                    </div>
                    <div class="mc-description">
                        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Mark Zuckerberg</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Mercantil
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/markZuckerberg.jpg">
                    </div>
                    <div class="mc-description">
                        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Tim Cook</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Inmobiliario
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/timCook.jpg">
                    </div>
                    <div class="mc-description">
                        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
                <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Mary Callahan</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Inmobiliario
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/maryErdoes.jpg">
                    </div>
                    <div class="mc-description">
                        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                    <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </div>
            </article>
        </div>
        <div class="col l4 m6 s12">
            <article class="material-card CaputGold">
                <h2>
                    <span>Angela Ahrendts</span>
                    <strong>
                        <i class="material-icons">star</i>
                        Familiar
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../../assets/img/angelaAhrendts.jpg">
                    </div>
                    <div class="mc-description">
                        Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... 
                        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <ul class="social-networks">
                        <a href="" class="fab fa-linkedin center icon-circled icon-2x"></a>
                        <a href="" class="fab fa-twitter center icon-circled icon-2x"></a>
                        <a href="" class="fab fa-google-plus-g center icon-circled icon-2x"></a>
                </ul>
                </div>
                
            </article>
        </div>
    </div>
</section>
