<div class="container" style="margin-top:100px">

    <div class="container center" style="margin-top: 100px; ">
        <h3>Encuentra la promocíon que necesitas!</h3>


        <mat-form-field style="width: 70%;">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" placeholder="Buscar servicio" [(ngModel)]="valor" (keyup)="FiltrarServiciosNombre()">
            <button mat-button *ngIf="valor" matSuffix mat-icon-button aria-label="Clear" (click)="valorInput()">
                     <mat-icon>close</mat-icon>
                </button>
        </mat-form-field>
    </div>


    <mat-accordion>
        <div class="row" *ngFor="let ser of servicios">
            <mat-expansion-panel>
                <mat-expansion-panel-header (click)="OnClick(ser)">
                    <mat-panel-title>
                        {{ser.nombre}}
                        <input type="hidden" (keyup)="OnIdKeyUp($event)" value={{ser.id}}>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ser.descripcion}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="container center" >
                    <mat-form-field style="width: 70%;">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput type="text" placeholder="Filtrar" [(ngModel)]="valor0" (keyup)="FiltrarCategoriaNombre()">
                        <button mat-button *ngIf="valor0" matSuffix mat-icon-button aria-label="Clear" (click)="valorInput0()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="class row">
                    <div class="col s4" *ngFor="let cata of catalogo">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">

                                <img height="220px" class="activator" src="{{cata.imagen}}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{cata.nombre}}<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{cata.nombre}}<i class="material-icons right">close</i></span>
                                <p>{{cata.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>