.card-reveal{
    font-family: 'Poppins',sans-serif;
}
.card-content{
    font-family: 'Poppins',sans-serif;
}

search-full-width {
  width: 70%;
}

.search-form {
  min-width: 150px;
  max-width: 90%;
  width: 90%;
}