<div class="row" style="margin-bottom: 0px">
           
    <div class="slider">
        <ul class="slides ">
            <li>
                <img src="../../assets/img/carousel/principal.jpg">
                <div class="caption center-align">
                    
                   <h2 style="margin-top:400px">Tu tranquilidad es nuestro principal objetivo</h2>
                </div>                  
            </li>
            <li>
                    <img src="../../assets/img/carousel/legalizacion.jpg">
                    <div class="caption center-align">
                            <h2 style="margin-top:250px">Siempre en contacto contigo</h2>
                         </div>  
                    
            </li>
            <li>
                    
                        <img src="../../assets/img/carousel/casos.jpg ">
                        <div class="caption center-align">
                                <h2 style="margin-top:250px">Tus necesidades son nuestra prioridad</h2>
                             </div>  
                    
            </li>
        </ul>
          </div>
       

</div>
    
    <!--que hacemos-->
    <div class="container">
        <div class="row" style="margin-bottom:0px">
            <div class="col m6 left" style="margin-top:60px">
                <img src="../../assets/img/testamento.jpeg" height="300px" width="400px" alt="" >
            </div>
        <div class="col m6">
            <h3 class="titulo">15 años de experiencia para ayudarle en sus asuntos</h3>
            <p><strong>Nuestro escritorio fue fundado en el 2002 y nos enfocamos en ser 
                el apoyo necesario para las organizaciones y personas en el manejo de las relaciones laborales,
                 penales y arrendaticios. Contamos con un multidisciplinario de destacados profesionales de la abogacía, 
                 altamente calificados en el campo penal, civil y mercantil, con amplia formación académica y 
                 comprobada experiencia en el litigio tribunalicio.</strong>
            </p>
            
        </div>
        </div>
        <div class="row">
            <div class="col m12">
                    <p><strong>El escritorio jurídico de Abogados Corporativos, es una sociedad civil de profesionales fundada y 
                            dirigida desde el 2002 por el Dr. José Luis Forero Silva y quien es especialista en ciencias jurídicas, 
                            conferencista nacional e internacional con más de 15 años de experiencia como investigador de delitos contra 
                            la delincuencia organizada, ex juez penal, Inspector Nacional de Tribunales del Tribunal Supremo de Justicia, 
                            ex-fiscal superior del estado Lara, ex-defensor de procesados militares ante el Consejo Permanente de Justicia Militar del estado 
                            Tachira y profesor de la cátedra Introducción al Derecho de la universidad YACAMBU del estado Lara.</strong></p>
                
            </div>
        </div>
    </div>
   
    
    <section class="spacer bg3" style="margin-top: 0px; padding: 0;">
        <div class="container">
            <div class="row">
                <div class="span12 aligncenter">
                    <h3 >
                        Conoce a nuestro equipo de trabajo
                    </h3>
                </div>
                <div class="row" style="margin-top: 100px">
                    <div class="col m3 center">
                        <img src="../../assets/img/rafael.jpg" class="icon-circled icon-2x">
                        <h5><strong> Rafael Silva </strong></h5>
                        <p style="font-size: 20px">Abogado</p>
                    </div>
                    <div class="col m3 center">
                          <img src="../../assets/img/lisa.jpg" class="icon-circled icon-2x">
                          <h5><strong> Andrea Diaz </strong></h5>
                          <p style="font-size: 20px">Abogado</p>
                      </div>
                      <div class="col m3 center">
                              <img src="../../assets/img/richard.jpg" class="icon-circled icon-2x">
                              <h5><strong> Carlos Aguero </strong></h5>
                              <p style="font-size: 20px">Abogado</p>
                          </div>
                          <div class="col m3 center">
                                  <img src="../../assets/img/susan.jpg" class="icon-circled icon-2x">
                                  <h5><strong> Carla Machado </strong></h5>
                                  <p style="font-size: 20px">Abogado</p>
                              </div>
                  </div>
            </div>
        </div>
    </section>
    
        
    <div class="container" style="margin-top:70px">
        <div class="row">
            <div class="col m6">
                <img src="../../assets/img/movil.png" width="250px" height="400px">
            </div>
            <div class="col m6">
                <h3 class="titulo">Descargar Ya Nuestra App</h3>
                <p><strong>LEXJURIS incluye todas las herramientas necesarias para la gestión cotidiana del trabajo 
                    de los profesionales jurídicos: Chat interactivo, agenda,
                     tareas pendientes, gestión de expedientes y muchas otras funciones para ti.</strong></p>
                <div class="discover-button clearfix2">
                    <a href="#" class="button button-download">
                        <span class="button-download-title">Descargar para</span>
                        <span class="button-download-subtitle">iOS</span>
                    </a>

                    <a href="#" class="button button-download android">
                        <span class="button-download-title">Descargar para</span>
                        <span class="button-download-subtitle">Android</span>
                    </a>
        </div>
    </div>
    </div>
    </div>
    
      
    